# IntelliJ
.idea/
Simple_Board.iml
/*.classpath
/.classpath
/.springBeans
*.DS_Store
*.iml
/build
*.properties
target/
out/
# properties file
src/main/resources/config/config.properties
classes/*
lib/*